<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_PDF" />

    <application
        android:name=".GurukulaBoardApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GurukulaBoard"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        
        <activity
            android:name=".questionbank.QuestionBankActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".questionbank.QuestionDetailActivity"
            android:exported="false"
            android:parentActivityName=".questionbank.QuestionBankActivity" />
        
        <activity
            android:name=".scraping.ScrapingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".pdf.PDFUploadActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".paper.PaperGeneratorActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".paper.PaperPreviewActivity"
            android:exported="false"
            android:parentActivityName=".paper.PaperGeneratorActivity" />
        
        <activity
            android:name=".paper.SavedPapersActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".admin.UserManagementActivity"
            android:exported="false"
            android:parentActivityName=".admin.AdminDashboardActivity" />
        
        <activity
            android:name=".ncert.NCERTManagementActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".ncert.NCERTBookDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ncert.NCERTManagementActivity" />
        
        <activity
            android:name=".ncert.MCQGenerationActivity"
            android:exported="false"
            android:parentActivityName=".ncert.NCERTBookDetailsActivity" />
        
        <activity
            android:name=".ncert.PPTGenerationActivity"
            android:exported="false"
            android:parentActivityName=".ncert.NCERTBookDetailsActivity" />
        
        <activity
            android:name=".content.ContentDashboardActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".content.ContentUploadActivity"
            android:exported="false"
            android:parentActivityName=".content.ContentDashboardActivity" />
        
        <activity
            android:name=".content.ContentDetailActivity"
            android:exported="false"
            android:parentActivityName=".content.ContentDashboardActivity" />
        
        <activity
            android:name=".content.MCQGenerationActivity"
            android:exported="false"
            android:parentActivityName=".content.ContentDetailActivity" />
        
        <activity
            android:name=".content.MCQDisplayActivity"
            android:exported="false"
            android:parentActivityName=".content.ContentDetailActivity"
            android:screenOrientation="landscape" />
        
        <activity
            android:name=".content.PPTEditorActivity"
            android:exported="false"
            android:parentActivityName=".content.ContentDetailActivity" />
        
        <activity
            android:name=".content.PPTViewerActivity"
            android:exported="false"
            android:parentActivityName=".content.ContentDetailActivity"
            android:screenOrientation="landscape" />
        
        <activity
            android:name=".content.ContentSelectionActivity"
            android:exported="false"
            android:parentActivityName=".content.ContentDetailActivity" />
        
    </application>

</manifest>

